<div class="mx-auto" style="width: 90%">
    <h1 class="mt-3 font-monospace text-primary" style="text-transform: uppercase;">{{title}}</h1>
    <h3 style="margin-top: -0.5em;">{{subTitle}}</h3>


    <div class="mt-5" style="display: flex; justify-content:center" *ngIf="this.schoolYears[0] == null">

        <button type="button" class="btn btn-primary btn-lg" routerLink="/addsy">Schuljahr anlegen  <i class="bi bi-plus-circle-fill"></i></button>

    </div>

      


    <div class="mt-5">
    
        <div class="mb-3" *ngFor="let schoolYear of schoolYears">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title" style="font-weight: 600;">{{schoolYear.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted" *ngIf="schoolYear.school != null" (load)="onLoad(schoolYear.school!)">{{currentSchool}}</h6>
                </div>
            </div>
        </div>

    </div>



</div>





