<div class="mx-auto" style="width: 90%">
    
    
    <h1 class="mt-3 font-monospace text-primary" style="text-transform: uppercase;">{{title}}</h1>
    <h3 style="margin-top: -0.5em;">{{subTitle}}</h3>

    <form class="mt-5">

        <div class="mb-3">
            <label for="schoolYearName" class="form-label">Name des Schuljahres</label>
            <input type="text" class="form-control" name="schoolYearName" aria-describedby="schoolYearName" [(ngModel)]="schoolYear.name">
        </div>
        <!-- Schule hinzufügen ==> Modal -->
        <!-- Button trigger modal -->
        <div class="mb-3" *ngIf="availableSchools != null">
            <label for="schoolName" class="form-label">Name der Schule</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="schoolYear.school!.name"
            *ngFor="let school of availableSchools">
                <option [(ngModel)]="schoolYear.school">
                    <p>{{school.id}}</p>
                    <p>{{school.name}</p>
                </option>
            </select>
        </div>
  
       
  


        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>

</div>
